body{
  font-family: 'Tajawal', sans-serif;
}
.logo{
  margin-right: 135px;
}
.carosal-form{
  border: 1px solid white; border-radius: 50%
}
.carosal-form:hover{
  border: 1px solid rgb(63, 197, 63);
}
.mgr {
  margin-right: 14px;
  color: white;
  /* padding-bottom: 16px; */
  margin-left: 10px;
  margin-top: 7px;}
.navbarr {
  position: relative;
}
.navbaar .align-items-end{
  text-align: center;
}
.navbaar .underline{
  text-decoration: underline;
  padding: 0;
  color: rgb(63, 197, 63);
}
.navbaar .font-weight{
  font-weight: bold;
}
.navbaar .padding{
  margin-right: -45px;
  margin-bottom: 9px;
}
#absolute {
  position: absolute;
  top: 0px;
  width: 132px;
  height: 100px;
  font-size: xxx-large;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(63, 197, 63);
  cursor: pointer;
}
.btn1 {
  background-color: black;
  border-radius: 10px;
  margin-top: 5px;
}
.bold {
  color: black;
  font-weight: bold;
  font-size: 14px;
}
.bold:hover {
  color: rgb(63, 197, 63);
}
.bold1 {
  font-size: 50px;
}
/* /////////// for sale */
.badge1.red {
  background: rgb(63, 197, 63);
}
.top-right {
  position: absolute;
  top: 0;
  right: 0;
  -ms-transform: translateX(30%) translateY(0%) rotate(45deg);
  -webkit-transform: translateX(30%) translateY(0%) rotate(45deg);
  transform: translateX(30%) translateY(0%) rotate(45deg);
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
.badge1 {
  margin: 0;
  padding: 0;
  color: white;
  padding: 10px 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
  background: rgb(63, 197, 63);
}
.badge1:hover {
  background: black;
}
.badge1-overlay {
  position: absolute;
  left: 0%;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* pointer-events: none; */
  z-index: 100;
  -webkit-transition: width 1s ease, height 1s ease;
  -moz-transition: width 1s ease, height 1s ease;
  -o-transition: width 1s ease, height 1s ease;
  transition: width 0.4s ease, height 0.4s ease;
}
.badge1::before,
.badge1::after {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 -1px;
  width: 100%;
  height: 100%;
  background: inherit;
  min-width: 55px;
}
.badge1::before {
  right: 100%;
}

.badge1::after {
  left: 100%;
}
.qaren {
  margin-bottom: 10px;
}
.qaren1 {
  border: 1px solid #e5d5d5;
  padding: 6px;
  margin-right: 12px;
}
.bot {
  position: relative;
  z-index: 1;
}
.bot1 {
  background-color: rgb(63, 197, 63);
  border-radius: 7px;
  /* font-size: 28px; */
  color: white;
  padding-right: 13px;
  position: absolute;
  top: -29px;
  left: 40px;
  font-size: 26px;
  right: 34px;
  border: 1px solid white;
  padding-left: 13px;
}
.current {
  font-size: x-small;
  padding-left: 5px;
  margin-left: 5px;
}
.hover1:hover .like2 {
  background: #0d1226;
  display: block;
  color: white;
}
.like {
  position: absolute;
  top: 50px;
  left: 47px;
  opacity: 0.8;
border-radius: 15px;

}
.like1 {
  border: 0px;
  padding: 0px;
  background-color: transparent;
  font-size: 12px;
  color: white;
  text-align: center;
  margin-left: 10px;
}
.like1:hover {
  color: rgb(63, 197, 63);
}
.likee {
  background-color: transparent;
  padding-right: 0;
  padding: 6px;
  margin: 10px;
}
.like {
  display: none;
}
.align{
  margin-top: 8px;
}
.rate {
  text-align: center;
}
.rate1 {
  font-size: 125px;
  padding-top: 20px;
  color: white;
}
.rateee {
  font-size: 25px;
  padding-top: 20px;
  color: white;
}
.bttn {
  font-size: 24px;
  border-radius: 15px;
  background-color: #0d1226;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.colll::after {
  content: "";
  clear: both;
  display: table;
}
.imgg {
  width: 111px;
  height: 111px;
  border-radius: 50%;
  border: 1px solid;
}
.pppp {
  text-align: center;
  margin-bottom: 0;
}
.ppppp {
  font-size: 10px;
  color: rgb(63, 197, 63);
  float: left;
  margin-left: 31px;
}
.section3 .card{
  border-radius: 10px;
  border: 3px solid rgb(141, 129, 129 / 13%);
  height: 321px;
}
.section3 .cardlayout{
  padding-left: 8px;
}
.section3 .card-body{
  padding: 1rem 2rem;
}
.section3 .img-height{
  height: 321px;
}
.section3 .bold-font{
  font-weight: bold;
}
.section3 .button{
  color: white;
border: 2px solid;
/* padding: 2px; */
font-size: 23px;
margin-right: 36px;
padding-left: 24px;
padding-right: 24px;
border-radius: 15px;
font-weight: bold;
}
.section3 .padding-right{
  padding-right: 8px;
}
.section3 .green{
  color:rgb(63, 197, 63) ;
  font-size: small;
}
.hello{
position: absolute;
top: 0;
z-index: 9;
background: white;
width: 100%;
text-align: center;
font-size: 17px;
padding-top: 30px;
padding-bottom: 30px;
font-weight: bold;

}
.overlayyy{
position: absolute;
bottom: 0;
font-size: 19px;
background:#0d1226 ;
font-weight: bold;
/* text-align: center; */
/* padding: 63px; */
padding-bottom: 20px;
padding-top: 20px;
padding-right: 76px;
/* margin-bottom: 0px; */
/* margin-right: 60px; */
/* margin-left: 60px; */
padding-left: 77px;
color: white;
opacity: 0.6;

}
.section4 .card{
  border: 0;
}
.section4 .bold-font{
  font-weight: bold;
  font-size: 25px;
}
.flexxx{
  display: flex;
  flex-direction: row;
  
}
.footer{
font-size: 20px;
color: white;
text-align: center;
}
.footerr{
font-size: 14px;
color: rgb(63, 197, 63);
}
.foot{
  color: white;
  margin-bottom: 0;
  margin-top: 5px;
}
.foott{
  background-color: rgb(37, 33, 33);
  display: flex;
  flex-direction: row;
}
.foo{
  /* border-radius: 50%; */
  background-color: white;
  padding-top: 12px;
    padding-bottom: 5px;
  opacity: 0.3;
  margin: 20px;
}
.display {
  display: flex;
  flex-direction: row;
  bottom: 85px;
  padding-bottom: 20px;
}
.linkk {
  color: white;
}
.linkk:link {
  text-decoration: none;
}
.linkk:hover {
  color: rgb(63, 197, 63);
  text-decoration: underline;
}
.caro{
  background: rgb(37, 33, 33);
    justify-content: end;
    margin-left: 0;
    margin-right: 0px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}
.caros{
  /* color: white; padding: 10px; margin-left: 530px; */
  color: white;
  /* padding: 10px; */
  margin-left: 620px;
  font-size: 12px;
  padding-top: 17px;
}
.lablee{
  width: 160px;
  height: 50px;
  border: 1px solid;
  padding-top: 7px;
  text-align: center;
  margin-bottom: 24px;
  margin-right: 483px;
  font-weight: bold;
  border-radius: 10px;
  font-size: larger;
}
.section5{
  background: #eee;
}
.section5 .location{
  position: absolute;
  left: 69px;
  /* top: -23px; */
  opacity: 0.1;
  height: 138px;
  /* bottom: 1px; */
  width: 138px;
  display: flex;

}
.section5 .dropdown-toggle{
  padding-left: 33px;
  padding-right: 30px;
  font-size: 18px;margin:10px;
}
.section5 .header{
  font-weight: bold;
  color:rgb(63, 197, 63); 
  margin: 20px;

}
.navigation-bar .navbar-nav{
  font-size: 15px;
}
.navigation-bar .navbar-dark .navbar-nav .nav-link:hover{
  color:rgb(63, 197, 63) ;
}
.section1 .button-search{
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  font-size: 23px;
}
.section2{
  background-color: #eee;
}
.section2 .container{
  padding-top: 20PX;

}
.end-navbar .navbar-dark .navbar-nav .nav-link:hover{
  color:rgb(63, 197, 63) !important;
}
@media (max-width: 767px){

  .lablee{
    width: 160px;
    height: 50px;
    text-align: center;
    margin-right: 201px;
    border: 1px solid;
    padding-top: 7px;
    margin-bottom: 24px;
    border-radius: 10px;
  }
}


@media (max-width: 768px) {
  .caro{
    display: flex;
    flex-direction: column-reverse;

  }
  .caros{
    margin-left: 0px;
  }
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

@media (max-width: 991px) {
  .media {
    margin-top: 100px;
  }
}
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 992px) {
  .flexxx{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 993px) {
.foott{
  display: flex;
  flex-direction: column;
}
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
